.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 150px 0;

  .errorNumber {
    color: $color-1;
    font-weight: 700;
    font-size: 96px;
    line-height: 142.6%;
    @include media-query(large) {
      font-weight: 700;
      font-size: 288px;
      line-height: 142.6%;
    }
  }

  .errorText {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: $color-1;
  }
  .errorBackLink {
    font-size: 18px;
    color: $color-1;
    margin: 42px 0px;
  }
}

@media screen and (max-width: 750px) {
  .errorNumber {
    width: 198px;
    height: 99px;
  }
  .errorText {
    font-size: 18px;
    margin-bottom: 133px;
    margin-top: 40px;
  }
  .errorBackLink {
    font-size: 20px;
    margin: 42px 0px;
  }
}
